@media screen and (max-width: 1400px)
{
.smoothies{
    display: block;
    text-align: center;
    border: 5px solid black;
    margin: 2rem;
    
  }

  .weather-box{
    display: block;
    text-align: center;
    border: 5px solid black;
    margin: 2rem;
    
  }
  header{
    display: grid;
    grid-template-columns: 1fr  1fr ;
   background: #ffffff;
    box-shadow: 0 0.2rem 0.5rem 0 rgb(153 175 172 / 60%);
 
    
}

.logo{
    grid-column: 1;
}

.media{
  display: none;
}


nav a{
  display: flex;
  text-decoration: none;
  text-align: center;
  background-color: #7E6B8F;
  color: white;
  padding: 5px;
  font-size: .8em;
}

#hero-msg{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0rem;
  margin-top: 10rem;
  background-color: #7E6B8F;
  color: white;
  padding: 3rem;
  font-size: .8em;
}
.button-box{
  margin: 2rem;
}



.company{
  display: block;
  text-align: center;
  border: 5px solid black;
  margin: 2rem;
  
}

.nav-f{
  
  
  /* padding-inline-start: 7rem; */
  margin-top: 0rem;
  

}
.nav-a-f{
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: white;
  color: #7E6B8F;
  padding: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  font-size: 1em;
}
.contact{
  margin: 1rem;
  border: 2px solid black;
  background-color: white;

}

.contact-f{
  color: #7E6B8F;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1em;
  font-weight:600;

}
    /* Hamburger menu  */
  
   #hamburger-menu{
    background-color: #172121;  
    font-size: .8rem;
    border: 1px solid black;
    color:white;
    display: block;
    
  }
  
  #navbar{
    display: none;
    
    
  }
  
  #menu-open{
    display: none;
  }
  
  #menu-closed{
    display: inline;
  }
  
  #navbar.menu-active{
    display: inline;
    

   
    
  }
  
  #menu-open.menu-active{
    display: flex;
    flex-direction: column;

    
  }
  
  #menu-closed.menu-active{
    display: none;
  }
   
  .fruit-order {
    display: grid;
    grid-template-columns: 1fr ;
    border: 5px solid black;
     background-color: #DA3E52;
    color: white;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 5rem;
    text-align: center;
  
  }

}