@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0px;
}

nav ul li{
    border: 1px solid black;
    text-align: center;
    min-width: 210px;
}
nav ul li:hover{
    background-color:  #698996;
}


nav a{
    display: block;
    margin: 0.5rem;
    text-decoration: none;
    color: black;
}

.intro{
    text-align: Center;
}

.main{
    text-align: center;
}

#joe{
    font: 100px;
}

