

table{
    border: 1px black solid;
    border-collapse: collapse;
}
thead tr{
    background-color: lightblue;
}
thead tr:nth-child(2) th:nth-child(1){
    background-color: lightblue;
    border-top: 1px lightblue solid;
}
thead tr:nth-child(2) th{
    background-color: lightyellow;
}
tr{
    /* border: 1px black solid; */
    background-color: beige;
    
}
tbody tr:nth-child(even){
    background-color: lightpink;
}
td, th{
    border: 1px grey solid;
    padding: 1rem;
    text-align: center;
}
caption{            
    padding: 1rem;
    caption-side: bottom;
}