@media screen and (min-width: 1200px){
    nav ul {
        flex-direction: row;
        
      }
  
      nav ul li {
        text-align: center;
        flex:1;
      }
  
      #navbar{
        display: flex;
    
    
      }
  
    .main{
        display:grid;
        grid-template-areas: "e h h sp"
                             "w h h sp"
                             "j n n sp"
                             
                             
    }
    #a{
        grid-area: h;
        position: relative;
    }
    #b{
        grid-area: e;
    }
    #c{
        grid-area: w;
    }
    #d{
        grid-area: n;
    }
    #j{
        grid-area: j;
        align-content: center;
        position: relative;
    }
    #spotlights{
        grid-area: sp;
        display: flex;
        display: grid;
        grid-template-areas: "s1"
                             "s2"
                             "s3";

    }
    #hamburger-menu{
        display: none;
      }
      

    #j{
        /* display:flex;
        align-content: center; */
    }
    #e{
        grid-area: s1;
      }
    
    #f{
        grid-area: s2;
      }
      #g{
        display: inline;
        grid-area: s3;
      }
      
   }