@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
}
#logo_link{
    display: flex;
    grid-column: 1;
}
#fb,#insta{
    grid-column: 3;
}

h1{
    grid-column: 2;
    font-size: 3em;
    text-align: center;
}

nav ul #menu-open.menu-active{
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
    font-family: "raleway";
    background-color: #053C5E;   
    
}

nav ul li{
    border: 1px solid black;
    text-align: center;
    min-width: 210px;
    color: white;
    background-color: #053C5E; 
}
nav ul li:hover{
    background-color:#DB4C40;
    color: black;
}


nav a {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    text-decoration: none;
    color: white;
    width: 100%;
    
}


.header-today{
  padding: .25rem;
  background-color:#DB4C40;
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 1.25em;
}

body{
    background-color: #F9EDCC;
}
.box{
    min-height:10em;
    background-color: #053C5E;
    color: white;
    padding:0.2rem;
    margin:0.5rem;
  }

.main{
    display: grid;
    grid-template-areas:"s1"
                        "s2"
                        "s3"
                        "s4"
                        "s5";
    
}
#a{
    grid-area: s1;
    
}
#b{
    grid-area: s2;
}
#c{
    grid-area: s3;
}
#d{
    grid-area: s4;
}
#e{ grid-area: s5;
}


 /* Hamburger menu  */
  
 #hamburger-menu{
    background-color: #172121;  
    font-size: 2rem;
    border: 1px solid black;
    color:white;
    
  }
  
  #navbar{
    display: none;
    
    
  }
  
  #menu-open{
    display: none;
  }
  
  #menu-closed{
    display: inline;
  }
  
  #navbar.menu-active{
    display: flex;
    
  }
  
  #menu-open.menu-active{
    display: inline;
    
  }
  
  #menu-closed.menu-active{
    display: none;
  }
  
  #join, #spotlight3 {
    display:none;
  }

  /* Footer */
  footer{
    background-color: #DB4C40;
    color: white;
}

  .foot{
    display: grid;
    grid-template-areas: "l  a"
                          "s c"
                          "li li"
                          "y y";
  }


  #logo{
    grid-area: l;
    
  }

  .address{
    grid-area: a;
    padding-left: 12.5rem;
  }

  .contact{
    grid-area: c;
    padding-left: 12.5rem;
    padding-top: 4rem;
  }

  .info{
    grid-area: s;
    padding-top: 4rem;
  }

#last{
  grid-area: y;
  text-align: center;
}

#line{
  grid-area: li;
}