@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{padding: 0;
  margin: 0;
box-sizing: border-box;}
html{
  font-family: 'raleway';
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
}
#logo_link{
    display: flex;
    grid-column: 1;
    margin-top: 1.5rem;
}
#fb,#insta{
    grid-column: 3;
}
#fb{
  padding-bottom: 0;
}

h1{
    grid-column: 2;
    font-size: 3em;
    text-align: center;
}

nav ul {
    display: inline;
    flex-direction: column;
    list-style: none;
    font-family: "raleway";
    background-color: #053C5E; 
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;  
    
}

nav ul li{
    border: 1px solid white;
    padding: 1rem;
    text-align: center;
    min-width: 210px;
    color: white;
    background-color: #053C5E; 
}
nav ul li:hover{
    background-color:#DB4C40;
    color: black;
}


nav a {
  
    justify-content: space-between;
    margin: 0.5rem;
    text-decoration: none;
    color: white;
    width: 100%;
    
}


.header-today{
  display: flex;
  justify-content: space-between;
  background-color:#DB4C40;
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 1.25em;
}
.date{
  width: 100%;
}

body{
    background-color: #F9EDCC;
}
.box{
    min-height:10em;
    align-content: center;
    text-align: center;
    background-color: #053C5E;
    color: white;
    padding:0.2rem;
    margin:0.5rem;
  }

.main{
    display: grid;
    grid-template-areas:"s1"
                        "s2"
                        "s3"
                        "s4"
                        "s5";
                        
}
#a{
    grid-area: s1;
    padding: 0;
    position: relative;
  
    
}
#b{
    grid-area: s2;
    padding: 0;

}
#c{
    grid-area: s3;
}
#d{
    grid-area: s4;
}
#e{ grid-area: s5;
}

 /* Hamburger menu  */
  
 #hamburger-menu{
    background-color: #172121;  
    font-size: 2rem;
    border: 1px solid black;
    color:white;
    
  }
  
  #navbar{
    display: none;
    
    
  }
  
  #menu-open{
    display: none;
  }
  
  #menu-closed{
    display: inline;
  }
  
  #navbar.menu-active{
    display: flex;
    
  }
  
  #menu-open.menu-active{
    display: inline;
    
  }
  
  #menu-closed.menu-active{
    display: none;
  }
  
  #j, #g {
    display:none;
  }

  /* Footer */
  footer{
    background-color: #DB4C40;
    color: white;
}

  .foot{
    display: grid;
    grid-template-areas: "l  a"
                          "s c"
                          /* "li li" */
                          "y y";
  }


  #logo{
    grid-area: l;
    
  }

  .address{
    grid-area: a;
    padding-left: 12.5rem;
  }

  .contact{
    grid-area: c;
    padding-left: 12.5rem;
    padding-top: 4rem;
  }

  .info{
    grid-area: s;
    padding-top: 4rem;
  }

#last{
  grid-area: y;
  text-align: center;
}


/* Content */
#landscape{
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
    
}
#carnival{
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  
}

#weather{
  max-width: 175px;
  /* content: inherit; */
  text-align: center;
}


#news{
  font-size: 1.5em;
  
}

#greet{
  display:none;
} 

#greet.active{
  display:flex;
  background-color: #DB4C40;
  color: white;
                       
}
#welcome{
  position: absolute;
  font-size: 1.8em;
  top: 10%;
  width: fit-content;
  background-color: #053C5E;
  color: white;
}
#welcome:hover{
  background-color: #F9EDCC;
  color: #053C5E;
}

.join{
  display: none;
  /* flex-direction: column;
  text-decoration: none;
  background-color: #F9EDCC;
  color: #053C5E;
  font-size: 1.5em;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 0;
  position: absolute;
  top: 90%;
  left: 80%;
  align-content: center;
  font-family: "Raleway"; */
} 

.start{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: #F9EDCC;
  color: #053C5E;
  font-size: 1.5em;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 0;
  position: absolute;
  top: 1%;
  left: 0%;
  align-content: center;
  font-family: "Raleway";
}
 .join:hover{
  background-color: #DB4C40;
  color: white;

} 
.start:hover{
  background-color: #DB4C40;
  color: white;

}
/* #line{
  grid-area: li;
} */