@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
  margin: 0;
box-sizing: border-box;}
html{
  font-family: 'raleway';
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
}
#logo_link{
    display: flex;
    grid-column: 1;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
#fb,#insta{
    grid-column: 3;
}
#fb{
  padding-bottom: 0;
}

h1{
    grid-column: 2;
    font-size: 3em;
    text-align: center;
}

nav ul {
    display: inline;
    flex-direction: column;
    list-style: none;
    font-family: "raleway";
    background-color: #053C5E; 
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;  
    
}

nav ul li{
    border: 1px solid white;
    padding: 1rem;
    text-align: center;
    min-width: 210px;
    color: white;
    background-color: #053C5E; 
}
nav ul li:hover{
    background-color:#DB4C40;
    color: black;
}
.active{
  background-color:#DB4C40;
  color: black;
}


nav a {
  
    justify-content: space-between;
    margin: 0.5rem;
    text-decoration: none;
    color: white;
    width: 100%;
    
}


.header-today{
  display: flex;
  justify-content: space-between;
  background-color:#DB4C40;
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 1.25em;
  margin-bottom: .5rem;
}
.date{
  width: 100%;
}

body{
    background-color: #F9EDCC;
}
.box{
    min-height:10em;
    align-content: center;
    text-align: center;
    background-color: #053C5E;
    color: white;
    padding:0.2rem;
    margin:0.5rem;
  }

.main{
    display: grid;
    grid-template-areas:"s1"
                        "s2"
                        "s3"
                        "s4"
                        "s5";
                        
}
#a{
    grid-area: s1;
    padding: 0;
    position: relative;
  
    
}
#b{
    grid-area: s2;
    padding: 0;

}
#c{
    grid-area: s3;
}
#d{
    grid-area: s4;
}
#e{ grid-area: s5;
}

 /* Hamburger menu  */
  
 #hamburger-menu{
    background-color: #172121;  
    font-size: 2rem;
    border: 1px solid black;
    color:white;
    
  }
  
  #navbar{
    display: none;
    
    
  }
  
  #menu-open{
    display: none;
  }
  
  #menu-closed{
    display: inline;
  }
  
  #navbar.menu-active{
    display: flex;
    
  }
  
  #menu-open.menu-active{
    display: inline;
    
  }
  
  #menu-closed.menu-active{
    display: none;
  }
  
  #j, #g {
    display:none;
  }

  /* Footer */
  footer{
    background-color: #DB4C40;
    color: white;
}

  .foot{
    display: grid;
    grid-template-areas: "l  a"
                          "s c"
                          /* "li li" */
                          "y y";
  }


  #logo{
    grid-area: l;
    
  }

  .address{
    grid-area: a;
    padding-left: 12.5rem;
  }

  .contact{
    grid-area: c;
    padding-left: 12.5rem;
    padding-top: 4rem;
  }

  .info{
    grid-area: s;
    padding-top: 4rem;
  }

#last{
  grid-area: y;
  text-align: center;
}


/* Content */
#landscape{
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
    
}
#carnival{
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  
}

#weather{
  max-width: 175px;
  /* content: inherit; */
  text-align: center;
}


#news{
  font-size: 1.5em;
  
}

#greet{
  display:none;
} 

#greet.active{
  display:flex;
  background-color: #DB4C40;
  color: white;
                       
}
#welcome{
  position: absolute;
  font-size: 1.8em;
  top: 10%;
  width: fit-content;
  background-color: #053C5E;
  color: white;
}
#welcome:hover{
  background-color: #F9EDCC;
  color: #053C5E;
}

.join{
  display: none;
  /* flex-direction: column;
  text-decoration: none;
  background-color: #F9EDCC;
  color: #053C5E;
  font-size: 1.5em;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 0;
  position: absolute;
  top: 90%;
  left: 80%;
  align-content: center;
  font-family: "Raleway"; */
} 

.start{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: #F9EDCC;
  color: #053C5E;
  font-size: 1.5em;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 0;
  position: absolute;
  top: 1%;
  left: 0%;
  align-content: center;
  font-family: "Raleway";
}
 .join:hover{
  background-color: #DB4C40;
  color: white;

} 
.start:hover{
  background-color: #DB4C40;
  color: white;

}
/* #line{
  grid-area: li;
} */

/* DISCOVER CSS */
h2{
  padding-bottom: 1rem;
}
h1{
  font-size: 1.5em;
  

}

#stats{
text-align: center;
justify-content: center;
max-width: 25em;
max-height: 15rem; 
border: 1px solid black;
margin-left: 35%;
margin-top: 10rem;
margin-bottom: 3rem;
padding-top: 1rem;
padding-bottom: 1rem;
background-color: #053C5E;
color: white;
font-size: 1.5em;
}
#stats li{
  padding-top: .2em;
}
.discover{
  border: 1px solid black;
  text-align: center;
  max-width: 50em;
  margin-left: 30%;
  margin-bottom: 1em;
  background-color:#DB4C40;
  margin-bottom: 5em;
  

}
.discover h3{
  color: white;
  font-size: 1.5em;
  margin-bottom: .5em;
  margin-top: .5em;
}
.images{
  padding-top: .5em;
  padding-bottom: .5em;
  object-fit: cover;
  max-width: 100%;
}
.discover p{
color:white; 
margin-bottom: .5em;
}

/* -------------------Join-------------------- */

form fieldset, .membership {
  
  border: 1px solid black;
  border-radius: 10px;
  width:100%;
  max-width:30rem;
  
  
}

form label.person {
  display: block;
  padding-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

form label.person input, form label.select {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  color: dark gray;
  padding: 1rem;
  width: 70%;
  max-width: 25rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.member {
  display: block;
  padding:.75rem 0;
}

.submit-button {
  border: none;
  background-color: #053C5E;
  color:white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 2rem 0 2rem 2rem;
  width: 80%;
  max-width: 20rem;
}





.main-form{
  max-width: 900px;
  align-content: center;
  background-color:#F9EDCC;
  padding:40px;
  margin-top: -14px;
}

#form-header{

  text-align: center;
  
}

 .membership{
  border: 1px solid black;
  padding:12px;
  

} 

.person input:required {
  border: #DB4C40 solid 2px;
}

.person input:required:valid {
  border: green solid 2px;
}

.person input:not([required]) {
  border: gray 2px;
}

/*  Directory ----------------------*/
/* Directory Page Stuff */
.directory-main{
  width: 100%;
}

#directory-selector{
  width: 100%;
  text-align: center;
}

#directory-selector button{
  padding: 1rem;
  margin: .5rem;
  border-radius: 5px;
  background-color: grey;
  border: 1px black solid;
}

#directory-selector button.active{
  background-color: #053C5E;
  color: white;
}

/* Cards view */

.directory-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  
}

.directory-cards section{
  text-align: center;    
  border: 5px solid black;    
  width: 300px;
  background-color: #DB4C40;
  color: white;
  padding: 1rem;
  margin: .5rem;
}

.directory-cards .gold-member{
  /* box-shadow: inset 1rem 1rem gold; */
  border: 7px solid gold;
  background-color: #053C5E;
  
}
.directory-cards a{
  color:white;
}

/* List View */

.directory-list{    
  display: grid;
  justify-items: center;   
  padding: 1rem; 
  font-size: 1em;   
}

.directory-list section img{
  display: none;
  
}

.directory-list section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  width: 95%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.directory-list section:nth-child(odd) {
  background-color: grey;
  
}

.directory-list section:nth-child(even) {
  background-color: white;
  
}
.directory-list .gold-member::after{
  content: "(Gold Member)";
}
 .directory data .directory-list:nth-last-child(){
  display: none;
} 

