@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); 
body{
    font-family: 'Open Sans', sans-serif;
    background-color: blanchedalmond;
}

header {
    width: 640px;
    display: flex;
    align-content: center;
    background-color: lightblue;
    color: white;
    border: 2px black solid;
    margin: auto;
    
}
header img {
    margin: 1rem;

}
header h1{
    text-align: center;
    align-items: center;
}

header div:nth-child(2){
    width: 100%
}

#content{
    margin: 0 auto;
    width: 800 px;
    padding-bottom: 10rem;
}

main h2{
    text-align: center;
}

footer{
    width: 640px;
    margin: auto;
    align-content: center;
    background-color: lightblue;
    color: white;
    border: 2px black solid;
    text-align: center;
    padding: 1rem;
    

}